.header
  background-color: #fff
  height: 40px
  box-shadow: 0 1px 1px 1px rgba(#000, .2)
  margin-bottom: 2px

  &__logo
  &__nav
  &__lang
    vertical-align: middle
    display: table-cell

  &__lang
    text-align: right

  &__logo
    width: 120px

.headerMid
  display: table
  height: 100%
  width: 100%
  max-width: 960px
  margin: 0 auto
