.main-base
  display: table
  width: 100%
  max-width: 960px
  height: 100px
  margin: 0 auto

.welcome-nav
.welcome-wrap
  display: table-cell
  vertical-align: top
  padding-top: 20px

.welcome-wrap
  padding-right: 10px

.welcome-nav
  width: 300px
  padding-left: 10px

.auth-wrap
  margin-bottom: 20px
