.main-base
  display: table
  width: 100%
  max-width: 960px
  height: 100px
  margin: 0 auto

.navside-wrap
.content-wrap
  display: table-cell
  vertical-align: top

.content-wrap
  border-left: 1px solid rgba(#000, .2)

.navside-wrap
  width: 250px
