.menu
  list-style: none
  font-size: 0

.menu__item
  display: inline-block
  font-size: 1rem
  vertical-align: middle
  margin-right: 20px

.menu__link
  color: inherit
  font-size: (14/16)rem
  text-decoration: none

  &:hover
    text-decoration: underline
