.auth
  width: 100%
  box-shadow: 1px 1px 1px 1px rgba(#000, .2)
  border-radius: 3px
  padding: 10px 20px 10px

  &__login
  &__pw
    background-color: #fff
    display: block
    width: 100%
    margin-top: 10px
    height: 30px
    border-radius: 3px
    padding: 0 10px
    border: 1px solid #ccc

  &__btn
    width: 100%
    display: block
    border: 1px solid #f1a02a
    background-color: #fab81e
    background-image: linear-gradient(to bottom, #ffcc4d 0%, #fab81e 100%)
    margin-top: 10px
    height: 27px
    color: #292f33
    font-weight: bold
    border-radius: 3px
    text-shadow: 0 1px 0 rgba(#fff, .5)

    &:hover
      background: #fb9d23

.authAdds
  list-style: none
  font-size: 0
  margin-top: 5px

.authRem
  display: inline-block
  vertical-align: middle
  margin-right: 20px

  &__checkbox
    display: inline-block
    vertical-align: middle
    margin-right: 5px
    cursor: pointer

  &__label
    color: #333
    display: inline-block
    vertical-align: middle
    font-size: (12/16)rem
    cursor: pointer

.authForget
  display: inline-block
  vertical-align: middle
  font-size: (12/16)rem
  color: #e78615

  &__link
    color: inherit

    &:hover
      text-decoration: none
