.auth
  width: 100%
  background-color: #fface3
  border: 1px solid red
  padding: 10px 20px 10px

  &__login
  &__pw
    background-color: #fff
    display: block
    width: 100%
    margin-top: 10px
    height: 30px
    border-radius: 3px
    padding: 0 10px
    border: 1px solid #282828

  &__btn
    width: 100%
    display: block
    background-color: #282828
    margin-top: 10px
    height: 27px
    color: #dcdfde
    font-weight: bold
    border-radius: 3px

    &:hover
      background: #181818

.authAdds
  list-style: none
  font-size: 0
  margin-top: 5px

.authRem
  display: inline-block
  vertical-align: middle
  margin-right: 20px

  &__checkbox
    display: inline-block
    vertical-align: middle
    margin-right: 5px
    cursor: pointer

  &__label
    color: #333
    display: inline-block
    vertical-align: middle
    font-size: (12/16)rem
    cursor: pointer

.authForget
  display: inline-block
  vertical-align: middle
  font-size: (12/16)rem
  color: #181818

  &__link
    color: inherit

    &:hover
      text-decoration: none
