.navside
  &__item
    border-bottom: 1px dotted #ccc
    cursor: pointer
    height: 30px
    line-height: @height
    font-size: (14/16)rem
    padding: 0 15px

    &:hover
      background-color: #f4f0f0

    &_selected
      background-color: #f4f0f0
      font-weight: bold
